@page "/1A"
@inject IJSRuntime jsRuntime

<h1>1 Ο ΔΙΚΑΙΟΠΟΛΙΣ (α)</h1>

<p @ondblclick="DoubleClick">
ὁ Δικαιόπολις Ἀθηναῖος ἐστιν.
οἰκεῖ δὲ ὁ Δικαιόπολις οὐκ ἐν ταῖς Ἀθήναις ἀλλἁ ἐν τοῖς ἀγροῖς.
αὐτουργὸς γάρ ἐστιν.
Γεωργεῖ οὖν τὸν κλῆρον καὶ πονεῖ ἐν τοῖς ἀγροῖς.
χαλεπὸς δέ ἐστιν ὁ Βίος.
ὁ γὰρ κλῆρος ἐστι μικρός, μακρὸς δὲ ὁ πόνος.
Ἀεὶ οὖν πονεῖ ὁ Δικαιόπολις καὶ πολλάκις στενάζει καὶ λέγει.
Ὠ Ζεῦ, χαλεπός ἐστιν ὁ Βίος
ἀτέραντος γάρ ἐστιν ὁ πόνος, μικρὸς δὲ ὁ κλῆρος καὶ οὐ πολὺν σῖτον παρέχει.
Ἀλλὰ ἰσχυρός ἐστιν ὁ ἂνθρωπος καὶ ἂοκνος.
πολλάκις οὖν χαίρει.
ἐλεύθερος γὰρ ἐστι καὶ αὐτουργός.
φιλεῖ δὲ τὸν οἶκον.
Καλὸς γάρ ἐστιν ὁ κλῆρος καὶ σῖτον παρέχει οὐ πολὺν ἀλλὰ ἱκανόν.
</p>

<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        Console.WriteLine($"DoubleClick 1");
        var v = ((IJSInProcessRuntime)jsRuntime).Invoke<object>("GetSelectedText");
        var s = v.ToString();
        Console.WriteLine($"DoubleClick 2");
        Console.WriteLine($"DoubleClick {s}");
        child.lexis = s;
        child.Destructure();        
    }
}