@page "/1B"
@inject IJSRuntime jsRuntime

<h1>1 Ο ΔΙΚΑΙΟΠΟΛΙΣ (β)</h1>
<p @ondblclick="DoubleClick">
 ὁ Δικαιόπολις ἐν τῷ ἀγρῷ πονεῖ· τὸν γὰρ ἀγρὸν σκάπτει.
 μακρός ἐστιν ὁ πόνος καὶ χαλεπός· τοὺς γὰρ λίθους ἐκ τοῦ ἀγροῦ φέρει.
 μέγαν λίθον αἴρει καὶ φέρει πρός τὸ ἕρμα.
 ισχῡρός ἐστιν ὁ ἄνθρωπος ἀλλὰ πολὺν χρόνον πονεῖ καὶ μάλα κάμνει.
 φλέγει γὰρ ὁ ἥλιος καὶ κατατρίβει αὐτόν.
 καθίζει οὖν ὑτὸ τῷ δένδρῷ καὶ ἡσυχάζει οὐ πολὺν χρόνον.
 δι' ὀλίγου γὰρ ἐπαίρει ἑαυτὸν καὶ πονεῖ. 
 τέλος δὲ καταδύνει ὁ ἥλιος.
 οὐκέτι οὖν πονεῖ ὁ Δικαιόπολις ἀλλὰ πρὸς τὸν οἶκον βαδίζει.
</p>

<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        child.lexis = ((IJSInProcessRuntime)jsRuntime).Invoke<string>("GetSelectedText");
        child.Destructure();        
    }
}