@page "/2A"
@inject IJSRuntime jsRuntime

<h1>2 Ο ΞΑΝΘΙΑΣ (α)</h1>
<p @ondblclick="DoubleClick">
 ὁ Διακιόπολις ἐκβαίνει ἐκ τοῦ οἴκου καὶ καλεῖ τὸν Ξανθίαν. 
 ὁ Ξανθίας δοῦλος ἐστιν, ἰσχυρὸς μὲν ἄνθρωπος, ῥᾴθυμος δέ· οὐ γὰρ πονεῖ, εἰ μὴ πάρεστιν ὁ Δικαιόπολις.
 νῦν δὲ καθεύδει ἐν τῷ οἴκῳ. 
 ὁ οὖν Διακιόπολις καλεῖ αὐτὸν καὶ λέγει· “ἐλθέ δεῦρο, ὦ Ξανθία. 
 διὰ τί καθεύδεις; μὴ οὕτω ῥᾴθυμος ἴσθι ἀλλὰ σπεῦδε”.
ὁ οὖν Ξανθίας βραδέως ἐκβαίνει ἐκ τοῦ οἴκου καὶ λέγει· “διὰ τὶ εἶ οὕτω χαλεπός, ὦ δέσποτα· οὐ γὰρ ῥᾴθυμός εἰμι ἀλλὰ ἤδη σπεύδω”. 
ὁ δὲ Διακιόπολις λέγει· “ἐλθὲ δεῦρο καὶ βοήθει· λάμβανε γὰρ τὸ ἄροτρον καὶ φέρε αὐτὸ πρὸς τὸν ἀγρόν. 
ἐγὼ γὰρ ἐλαύνω τοὺς βοῦς. 
ἀλλὰ σπεῦδε· μικρὸς μὲν γάρ ἐστιν ὁ ἀγρός, μακρὸς δὲ ὁ πόνος”.
</p>

<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        child.lexis = ((IJSInProcessRuntime)jsRuntime).Invoke<string>("GetSelectedText");
        child.Destructure();        
    }
}