@page "/2C"
@inject IJSRuntime jsRuntime

<h1>2 Ο ΔΟΥΛΟΣ</h1>
<p @ondblclick="DoubleClick">
ὁ αὐτουργὸς σπεύδει εἰς τὸν ἁγρὸν καὶ καλεῖ τὸν δοῦλον. ὁ δὲ δοῦλος οὐ
πάρεστιν· καθεύδει γὰρ ὑπὸ τῷ δένδρῳ. ὁ οὖν δεσπότης βαδίζει πρὸς αὐτὸν
καὶ λέγει· “ἑλθὲ δεῦρο, ὦ δοῦλε ῥᾴθυμε, καὶ βοήθει”. ὁ οὖν δοῦλος βαδίζει
πρὸς αὐτὸν καὶ λέγει· “μὴ χαλεπὸς ἴσθι, ὦ δέσποτα. ἤδη γὰρ πάρειμι ἐγὼ
καὶ φέρω σοι τὸ ἅροτρον”. ὁ οὖν δεσπότης λέγει· “σπεῦδε, ὦ Ξανθία·
μικρὸς μὲν γάρ ἐστιν ὁ ἀγρός, μακρὸς δὲ ὁ πόνος”. 
</p>
<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        child.lexis = ((IJSInProcessRuntime)jsRuntime).Invoke<string>("GetSelectedText");
        child.Destructure();        
    }
}
