@page "/2B"

<h1>2 Ο ΞΑΝΘΙΑΣ (β)</h1>

<p>
 ὁ μὲν οὖν Διακιόπολις ἐλαύνει τοὺς βοῦς, ὁ δὲ Ξανθίας ὄπισθεν βαδίζει καὶ φέρει τὸ ἄροτρον. 
 δι’ ὀλίγου δὲ ὁ Διακιόπολις εἰσάγει τοὺς βοῦς εἰς τὸν ἀγρὸν καὶ βλέπει πρὸς τὸν δοῦλον· ὁ δὲ Ξανθίας οὐ πάρεστιν· βραδέως γὰρ βαίνει.

ὁ οὖν Διακιόπολις καλεῖ αὐτὸν καὶ λέγει· “σπεῦδε, ὦ Ξανθία, καὶ φέρε μοι τὸ ἄροτρον”. 
ὁ δὲ Ξανθίας λέγει· “ἀλλ’ ἤδη σπεύδω, ὦ δέσποτα· διὰ τί οὕτω χαλεπὸς εἶ;” βραδέως δὲ φέρει τὸ ἄροτρον πρὸς αὐτόν.

ὁ οὖν Δικαιόπολις ἄγει τοὺς βοῦς ὑπὸ τὸ ζυγὸν καὶ προσάπτει τὸ ἄροτρον. 
ἔπειτα δὲ πρὸς τὸν δοῦλον βλέπει· ὀ δὲ Ξανθίας οὐ πάρεστιν· καθεύδει γὰρ ὑπὸ τῷ δένδρῳ.
</p>
<p>
ὁ οὖν Διακιόπολις καλεῖ αὐτὸν καὶ λέγει· “ἐλθὲ δεῦρο, ὦ κατάρατε. 
μὴ κάθευδε ἀλλὰ βοήθει. 
λάμβανε γὰρ τὸ σπέρμα καὶ ὄπισθεν βάδιζε”.

ὁ μὲν οὖν δοῦλος τὸ σπέρμα λαμβάνει καὶ ὄπισθεν βαδίζει, ὁ δὲ δεσπότης καλεῖ τὴν Δημήτερα καὶ λέγει· “ἵλαος ἴσθι, ὦ Δήμητερ, καὶ πλήθυνε τὸ σπέρμα.” 
ἔπειτα δὲ τὸ κέντρον λαμβάνει καὶ κεντεῖ τοὺς βοῦς καὶ λέγει· “σπεύδετε, ὦ βόες· ἕλκετε τὸ ἄροτρον καὶ ἀροτρεύετε τὸν ἀγρόν”.    
</p>
<Lexis />
