@page "/3A"
@inject IJSRuntime jsRuntime

<h1>3 Ο ΑΡΟΤΟΣ (α)</h1>
<p @ondblclick="DoubleClick">
ὁ μὲν Δικαιόπολις ἐλαύνει τοὺς βοὺς, οἱ δὲ βόες ἕλκουσι τὸ ἅροτρον, ὁ δὲ Ξανθίας σπείρει τὸ σπέρμα. 
ἀλλὰ ἰδού· μένουσιν οἱ βόες καὶ οὐκέτι ἕλκουσι τὸ ἄροτρον. 
ὁ μὲν οὖν Δικαιόπολις τοὺς βοῦς καλεῖ καί, “σπεύδετε, ὦ βόες”, φησίν· “μὴ μένετε”. οἱ δὲ βόες ἔτι μένουσιν. 
ὁ οὖν Δικαιόπολις, “διὰ τὶ μένετε, ὦ βόες;” φησὶ καὶ βλέπει πρὸς τὸ ἄροτρον, καὶ ἰδού· λίθος ἐμποδίζει αὐτό. 
ὁ οὖν Δικαιόπολις λαμβάνει τὸν λίθον ἀλλ’ οὐκ αἴρει αὐτόν· μέγας γάρ ἐστιν, καλεῖ οὖν τὸν δοῦλον καί, “ἐλθέ δεῦρο, ὦ Ξανθία”, φησίν, “καὶ βήθει· λίθος γὰρ μέγας τὸ ἄροτρον ἐμποδίζει, οἱ δὲ βόες μένουσιν.
</p>
<p @ondblclick="DoubleClick">
ὁ οὖν Ξανθίας βραδέως προσχωρεῖ ἀλλ’ οὐ βοηθεῖ· βλέπει γὰρ πρὸς τὸν λίθον καί, “μέγας ἐστὶν ὁ λίθος, ὦ δέσποτα” φησίν· “ἰδού· οὐ δυνατόν ἐστιν αἴρειν αὐτόν”. 
ὁ δὲ Δικαιόπολις, “μὴ ῥᾴθυμος ἴσθι”, φησίν, “ἀλλὰ βοήθει. 
δυνατὸν γάρ ἐστιν αἴρειν τὸν λίθον”. 
ἅμα οὖν ὅ τε δεσπότης καὶ ὁ δοῦλος αἴρουσι τὸν λίθον καὶ φέρουσιν αὐτὸν ἐκ τοῦ ἀγροῦ.
</p>
<p @ondblclick="DoubleClick">
ἐν ᾧ δὲ φέρουσιν αὐτόν, πταίει ὁ Ξανθίας καὶ καταβάλλει τὸν λίθον· ὁ δὲ λίθος πίπτει πρὸς τὸν τοῦ Δικαιοοπόλεως πόδα. 
ὁ οὖν Διακιόπολις στενάζει καὶ, “ὦ Ζεῦ”, φησίν, “φεῦ τοῦ ποδός, λάμβανε τὸν λίθον, ὦ ἀνόητε, καὶ αἶρε αὐτὸν καὶ μὴ οὕτω σκαιὸς ἴσθι”. 
ὁ δὲ Ξανθίας, “διὰ τὶ οὕτω χαλεπὸς εἶ, ὦ δέσποτα;” φησίν· “οὐ γὰρ αἴτιός εἰμι ἐγώ· μέγας γάρ ἐστιν ὁ λίθος καὶ οὐ δυνατόν ἐστιν αὐτὸν φέρειν”. 
ὁ δὲ Δικαιόπολις, “μὴ φλυάρει, ὦ μαστιγία, ἀλλ’ αἶρε τὸν λίθον καὶ ἔκφερε ἐκ τοῦ ἀγροῦ”. 
αὖθις οὖν αἴρουσι τὸν λίθον καὶ μόλις ἐκφέρουσιν αὐτὸν ἐκ τοῦ ἀγροῦ. 
ἔπειτα δὲ ὁ μὲν Δικαιόπολις ἐλαύνει τοὺς βοῦς, οἱ δὲ βόες οὐκέτι μένουσιν ἀλλὰ ἕλκουσι τὸ ἄροτρον.
</p>
<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        child.lexis = ((IJSInProcessRuntime)jsRuntime).Invoke<string>("GetSelectedText");
        child.Destructure();        
    }
}
