@page "/3C"
@inject IJSRuntime jsRuntime

<h1>3 ΟΙ ΒΟΕΣ</h1>
<p @ondblclick="DoubleClick">
ὅ τε δεσπότης καὶ ὁ δοῦλος βαδίζουσιν εἰς τὸν ἀγρόν. 
ὁ μὲν δοῦλος τὸ ἄροτρον φέρει.
ὁ δὲ δεσπότης ἐλαύνει τοὺς βοῦς.
ἐπεὶ δὲ τῷ ἀγρῷ προσχοροῦσιν, οἱ βόες οὐκέτι βαίνουσιν.
ὁ οὖν δεσπότης καλεῖ αὐτοὺς καί, “μὴ μένετε, ὦ βόες!, φησίν, “ἀλλὰ σπεύδετε εἰς τὸν ἀγρόν”. 
οἱ δὲ βόες ἔτι μένουσιν.
ὁ οὖν δεσπότης τὸν δοῦλον καλεῖ καί, “ἐλθὲ δεῦρο, ὦ Ξανθία”, φησίν, “καὶ βοήθει.
οἱ γὰρ βόες μένουσι καὶ οὐ δυνατόν ἐστιν ἐλαύνειν αὐτοὺς εἰς τὸν ἀγρόν”. 
ὁ μὲν οὖν δοῦλος προσχωρεῖ καί, “ἀλλὰ δυνατόν ἐστιν”, φησίν· “ἰδού”, καὶ κεντεῖ τοὺς βοῦς.
οἱ δὲ οὐκέτι μένουσιν ἀλλὰ σπεύδουσιν εἰς τὸν ἀγρόν.
</p>
<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        child.lexis = ((IJSInProcessRuntime)jsRuntime).Invoke<string>("GetSelectedText");
        child.Destructure();        
    }
}
