@page "/3B"
@inject IJSRuntime jsRuntime

<h1>3 Ο ΑΡΟΤΟΣ (β)</h1>
<p @ondblclick="DoubleClick">
ἐν δὲ τούτῳ προσχωρεῖ  ὁ Φίλιππος· ὁ Φίλιππός ἐστιν ὁ Δικαιοπόλεως υἱός, παῖς μέγας τε καὶ ἀνδρεῖος· φέρει δὲ τὸ δεῖπνον πρὸς τὸν πατέρα. 
ἐπεὶ δὲ εἰς τὸν ἀγρὸν εἰσβαίνει, τὸν πατέρα καλεῖ καὶ λέγει· “ἐλθὲ δεῦρο, ὦ πάτερ· ἰδού τὸ δεῖπνον φέρω. 
μηκέτι οὖν πόνει ἀλλὰ κάθιζε καὶ δείπνει”
</p>
<p @ondblclick="DoubleClick">
ὁ οὖν πατὴρ λείπει τὸ ἄροτρον καὶ καλεῖ τὸν δοῦλον καθίζουσιν οὖν ἅμα καὶ δειπνοῦσιν. 
μετὰ δὲ τὸ δεῖπνον ὁ Δικαιόπολις, “μένε, ὦ παῖ”, φησίν, “καὶ βοήθει.
λάμβανε τὸ σπέρμα καὶ σπεῖρε ἐν τῷ πέδῳ.
σὺ δέ, ὦ Ξανθία, σκάπτε τοὺς λίθους καὶ ἔκφερε ἐκ τοῦ ἀγροῦ. πολλοὶ γάρ εἰσιν οἱ λίθοι καὶ μόλις δυνατόν ἐστιν ἀροτρεύειν”.
ὁ δὲ Ξανθίας, “ἀλλ’ οὐ δυνατόν ἐστι τοσούτους λίθους ἐκφέρειν”. 
ὀ δὲ Δικαιόπολις, “μὴ φλυάρει, ὦ Ξανθία, ἀλλὰ πόνει”. 
πονοῦσιν οὖν ὅ τε πατὴρ καὶ ὁ παῖς καὶ ὁ δοῦλος.
τέλος δὲ μὲν καταδύνει μὲν ὁ ἥλιος, οἱ δὲ ἄνθρωποι οὐκέτι πονοῦσιν ἀλλὰ λύουσι μὲν τοὺς βοῦς, τὸ δὲ ἄροτρον λείπουσιν ἐν τῷ ἀγρῷ καὶ πρὸς τὸν οἶκον βραδέως βαδίζουσιν.  
</p>
<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        child.lexis = ((IJSInProcessRuntime)jsRuntime).Invoke<string>("GetSelectedText");
        child.Destructure();        
    }
}
