@page "/4A"
@inject IJSRuntime jsRuntime

<h1>4 ΠΑΡΑ ΤΗΙ ΚΡΗΝΗΙ (α)</h1>
<p @ondblclick="DoubleClick">
    τῇ δὲ ὑστεραίᾳ ἐπεὶ πρῶτον ἀνατέλλει ὁ ἥλιος, ἡ γυνὴ τὸν ἄνδρα
    καλεῖ καί, "ἔπαιρε σεαυτόν, ὦ ἄνερ," φησίν· "ὁ γὰρ ἥλιος ἀνατέλλει, 
    ὁ δὲ δοῦλος ἤδη ἄγει τοὺς βοῦς πρὸς τὸν ἀγρόν, ἐγὼ δὲ καὶ ἡ
    θυγάτηρ ἐν νῷ ἔχουμεν βαδίζειν πρὸς τὴν κρήνην. ἔπαιρε σεαυτόν·
    καιρὸς γάρ ἐστι βαδίζειν πρὸς τὸν ἀγρόν." ὁ δὲ Δικαιόπολις μὰλα
    κάμνει καὶ οὐκ ἐθέλει ἐπαίρειν ἑαυτόν· λέγει οὖν· "μὴ χαλεπὴ ἴσθι, ὦ
    γύναι· μάλα γὰρ κάμνω καὶ ἐθέλω καθεύδειν." ἡ δὲ γυνή, "ἀλλ' οὐ
    δυνατόν ἐστιν," φησίν, "ἔτι καθεύδειν· καιρὸς γάρ ἐστι πονεῖν. ἔπαιρε 
    σεαθτόν, ὦ ἀργέ."
</p>
<p @ondblclick="DoubleClick">
    ὁ μὲν οὖν Δικαιόπολις μόλις ἐπαίρει ἐαυτὸν καὶ βαδίζει πρὸς τὸν 
    ἀγρόν, ἡ δὲ Μυρρίνη καὶ ἡ Μέλιττα πρὸς τὴν κρήνην βαδίζουσιν (ἡ 
    Μέλιττα Θυγάτηρ ἐστίν, κόρη μάλα καλή). ἥ τε οὖν μήτηρ καὶ ἡ
    θυγάτηρ βραδέως βαδίζουσιν· ὑδρίᾱς γὰρ φέρουσιν· μεγάλαι δ' εἰσὶν
    αἱ  ὑδρίαι, ὥστε οὐ δυνατόν ἐστι σπεύδειν.
</p>
<p @ondblclick="DoubleClick">
    ἐπεὶ δὲ τῇ κρήνῃ προσχωροῦσιν, ἰδού, ἄλλαι γυναῖκες ἤδη
    πάρεισι καὶ τὰς ὑδρίᾱς πληροῦσιν. ἡ οὖν Μυρρίνη τὰς γυναῖκας
    καλεῖ καί, "χαίρετε, ὧ φίλαι," φησίν· "ἆρα ἤδη πληροῦτε τὰς ὑδρίᾱς;"
    αἱ δὲ λέγουσιν· χαῖρε καὶ σύ· ναί, ἤδη πληροῦμεν τᾶς ὐδρίᾶς· πρῲ
    γὰρ πάρεσμεν. ἀλλ' ἐλθὲ δεῦρο ταχέως καὶ ἄκουε· ἄγγελος γὰρ ἥκει
    ἀπὸ τοῦ ἄστεως· λέγει δὲ ὅτι οἱ Ἀθηναῖοι τὰ Διονύσια ποιοῦσιν. ἡμεῖς
    οὖν ἐν νῷ ἔχομεν βαδίζειν πρὸς τὸ ἄστυ· τοὺς γὰρ χοροὺς ἐθέλουμεν
    θεωρεῖν καὶ τοῦς ἀγῶνας καὶ τὰ δράματα. ἆρα ἐθέλεις καὶ σὺ τὴν
    ἑορτὴν θεωρεῖν;"
</p>
<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        child.lexis = ((IJSInProcessRuntime)jsRuntime).Invoke<string>("GetSelectedText");
        child.Destructure();        
    }
}
