@page "/4B"
@inject IJSRuntime jsRuntime

<h1>4 ΠΑΡΑ ΤΗΙ ΚΡΗΝΗΙ (α)</h1>
<p @ondblclick="DoubleClick">
    ἡ δὲ Μυρρίνη, "τί λεγετε, ὦ φίλαι; ἆρα ἀληθῶς ἑορτὴν ποιοῦσιν οἱ  Ἀθηναῖοι;
    ἐγὼ μὲν μάλιστα ἐθέλω αὐτὴν θεωρεῖν· σὺ δέ, ὦ Μέλιττα, ἆρα καὶ σὺ ἐθέλεις θεωρεῖν; ἀλλ' οὐ δυνατόν ἐστιν· χαλεπὸς γάρ ἐστιν ὁ ἀνήρ· ἀεὶ γὰρ πονεῖ καὶ σπανίως ἐθέλει ἰέναι πρὸς τὸ ἄστυ."
</p>
<p @ondblclick="DoubleClick">
    ἡ δὲ Μέλιττα, "ἀλλ' οὐ μάλα χαλεπός ἐστιν ὁ πατήρ· ῥᾴδιον γάρ ἐστι πείθειν αύτόν."
    ἡ δὲ Μυρρίνη, "μὴ οὕτω φλυάρει ἀλλὰ τὴν ἡδρίᾱν ταχέως πλήρου· καιρὸς γάρ ἐστιν οἴκαδε ἐπανιέναι." 
</p>
<p @ondblclick="DoubleClick">
    ἥ τε οὖν μήτηρ καὶ ἡ θυγάτηρ τάς ὑδρίᾱς ταχέως πληροῦσι καὶ οἴκαδε βαδίζουσιν.
    ἐν δὲ τῇ ὁδῷ πταίει ἡ Μέλιττα καὶ καταβάλλει τὴν ὐδρίᾱν πρὸς τὴν γῆν καὶ θραύει αὐτήν.
    στενάζει οὖν καί, "οἴμοι," φησίν,  "οὐκ αἰτίᾱ εἰμὶ ἐγώ· μεγάλη γάρ ἐστιν ἡ ὑδρίᾱ, καὶ οὐ δυνατόν ἐστι φέρειν αὐτήν."
    ἡ δὲ μήτηρ, "τί λέγεις, ὦ θύγατερ; μὴ φλυάρει ἀλλὰ οἴκαδε σπεῦδε καὶ ἄλλην ὑδρίᾱν φέρε."
</p>
<p @ondblclick="DoubleClick">
    ἡ μὲν οὖν Μέλιττα οἴκαδε σπεύδει, ἡ δὲ Μυρρίνη βραδέως βαδίζει· μεγάλη γάρ ἐστιν ἡ ὑδρίᾱ, καὶ ἡ Μυρρίνη οὐκ ἐθέλει καταβάλλειν αὐτήν.
</p>
<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        child.lexis = ((IJSInProcessRuntime)jsRuntime).Invoke<string>("GetSelectedText");
        child.Destructure();        
    }
}
