@page "/4C"
@inject IJSRuntime jsRuntime

<h1>4 ΑΙ ΓΥΝΑΙΚΕΣ ΤΟΥΣ ΑΝΔΡΑΣ ΠΕΙΘΟΥΣΙΝ</h1>
<p @ondblclick="DoubleClick">
    πολλαὶ γυναῖκες ἥκουσιν εἰς τὴν κρήνην. ἐν ᾧ δὲ πληροῦσι τὰς ὑδρίᾱς, ἄγγελος προσχωρεῖ.
    ἐπεὶ δὲ πάρεστιν, "ἀκούετε, ὦ γυναῖκες," φησίν· "οἱ γὰρ Ἀθηναῖοι ἑορτὴν ποιοῦσιν.
    ἆρ' ούκ έθέλετε αῦτὴν θεωρεῖν;
    πείθετε οὖν τοὺς ἄνδρας ὑμᾶς ἐκεῖσε ἄγειν."
    αἱ δὲ γυναῖκες χαίρουσι καὶ λέγουσιν· "μάλιστα ἐθέλομεν θεωρεῖν, καὶ ἐν νῷ ἔχομεν τοὺς ἄνδρας πείθειν."
    τὰς οὖν ὑδρίᾶς ταχέως πληροῦσι  καὶ οἴκαδε σπεύδουσιν.
    ἐπεὶ δὲ ἥκουσιν οἱ ἄνδρες ἐκ τῶν ἀγρῶν, ἑκάστη ἡ γυνὴ λέγει· "ἄκουε, ὦ φίλε ἄνερ· ἄγγελος γὰρ πάρεστι καὶ λέγει ὅτι οἱ Ἀυηναῖοι ἐορτὴν ποιοῦσιν. 
    ἆρ' οὐκ ἐθέλεις με ἐκεῖσε ἄγειν;" 
    καὶ ῥᾳδίως πείθουσιν αύτούς· οἱ γὰρ ἄνδρες αὐτοὶ ἐθέλουσι τὴν ἑορτὴν Θεωρεῖν.
</p>
<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        child.lexis = ((IJSInProcessRuntime)jsRuntime).Invoke<string>("GetSelectedText");
        child.Destructure();        
    }
}
