@page "/5A"
@inject IJSRuntime jsRuntime

<h1>5 Ο ΛΥΚΟΣ (α)</h1>
<p @ondblclick="DoubleClick">
     ἐν ᾧ ἄπεισιν ἥ τε Μυρρίνη καὶ ἡ Μέλιττα, ὁ μὲν πάππος πονεῖ ἐν
     τῷ κήτῳ, ὁ δὲ παῖς καὶ ὁ Ἄργος βαδίζουσι πρὸς τὸ αὔλιον· ὁ Ἄργος
     κύων ἐστὶ μέγας τε καὶ ισχῡρός· τήν τ' οἰκίᾱν φυλάττει καὶ τὰ
     πρόβατα. ἐν ᾧ δὲ βαδίζουσιν ὅ τε παῖς καὶ ὁ κύων ἀνὰ τὴν ὀδόν, ὁ
     Φίλιππος λαγὼν ὁρᾷ ἐν τῷ ἀγρῷ τρέχοντα· λύει οὖν τὸν κύνα καί,
     "ἴθι δή, Ἄργε, " φησίν· "δίωκε." ὁ μὲν οὖν Ἄργος ὑλακτεῖ καὶ διώκει
     τὸν λαγών, ὁ δὲ φεύγει ἀνὰ τὸ ὄρος. οὕτω δὲ ταχέως τρέχουσιν ὥστε
     δι' ὀλίγου οὐ δυνατόν ἐστιν ὁρᾶν οὔτε τὸν κύνα οὔτε τὸν λαγών.
</p>
<p @ondblclick="DoubleClick">
    ὁ οὖν Φίίππος σπεύδει μετ' αὐτοὺς καὶ βοᾷ· "έλθὲ δεῦρο, Ἄργε·
    ἐπάνελθε, ὦ κύον κατάρᾱτε." ἀλλ' ἔτι διώκει ὁ κύων. τρέχει οὖν ὁ
    Φίλιππος εἰς ἄκρον τὸ ὄρος ἀλλ' οὐχ ὁρᾷ τὸν κύνα. μέγα οὖν βοᾷ
    καὶ καλεῖ, ἀλλ' οὐκ ἀκούει ὁ Ἄργος. τέλος δ' ἀθῡμεῖ ὁ παῖς καὶ
    καταβαίνει τὸ ὄρος
 </p>
<p @ondblclick="DoubleClick">
     ἐπεὶ δὲ προσχωρεῖ τῷ κήπῳ, ὁρᾷ αὐτὸν ὁ πάππος καί, "τί ποιεῖς, ὦ
     παῖ;" φησίν· "πόθεν ἥκεις καὶ τοῦ ἐστιν ὁ Ἄργος;" ὁ δὲ Φίλιππος,
     "ἀπὸ τοῦ αὐλιου ἥκω, ὦ τάππε· ὁ δ' Ἄργος ἐστί που ἐν τοῖς ὄρεσιν·
     λαγὼν γὰρ διώκει." ὁ δὲ πάππος, "ἴθι δή, ὦ παῖ· τί οὐ ζητεῖς αὐτόν;
     μὴ οὕτω ῥάθῡμος ἴσθι." ὁ δὲ Φίλιππος, "οὐ ῥάθῡμός εἰμι, ὦ πάππε,
     οὐδὲ αἴτιος ἐγώ. μέγα γὰρ βοῶ καὶ καλῶ, ἀλλ' οὐκ ἀκούει ὁ κύων."
     ὁ δὲ πάππος, "ἐλθὲ δεῦρο, ὦ παῖ," φησίν. οὕτω λέγει καὶ τὴν 
     βακτηρίᾱν λαμβάνει καὶ σπεύδει ἅμα τῷ παιδὶ ἀνὰ τὴν ὁδόν.
</p>
<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        child.lexis = ((IJSInProcessRuntime)jsRuntime).Invoke<string>("GetSelectedText");
        child.Destructure();        
    }
}
