@page "/5β"
@inject IJSRuntime jsRuntime

<h1>5 Ο ΛΥΚΟΣ (β)</h1>
<p @ondblclick="DoubleClick">
     ἐπεὶ δὲ τῷ αὐλίῳ προσχωροῦσιν ὅ τε Φίλιππος καὶ ὁ πάππος,
     πολὺν ψόφον ἀκούουσιν· ὑλακτεῖ γὰρ ἀγρίως ὁ Ἄργος, τὰ δὲ
     πρόβατα πολὺν θόρυβον ποιεῖ. σπεύδουσιν οὖν· βούλονται γὰρ
     γιγνώσκειν τί πάσχει τὰ πρόβατα. πρῶτος οὖν πάρεστιν ὁ παῖς, καὶ
     ἰδού, ὁ μὲν Ἄργος μένει πρὸς τῇ ὁδῷ καὶ ἀγρίως ἡλακτεῖ, καταβαίνει
     δὲ ἐκ τοῦ ὄρους πρὸς τὸ αὔλιον λύκος μέγας. ὁ μὲν οὖν Φίλιππος
     μέγα βοᾷ καὶ λίθους λαμβάνει καὶ βάλλει τὸν λύκον· ὁ δὲ Ἄργος
     ὁρμᾷ ἐπ' αὐτὸν καὶ οὕτως ἀγρίως ἐμπίπτει ὥστε ἀναστρέφει ὁ λύκος
     καὶ ἀποφεύγει. διώκει μὲν οὖν ὁ κύων, ὁ δὲ φίλιππος σπεύδει μετ'
     αὐτόν.
</p>
<p @ondblclick="DoubleClick">
    ὁ δὲ πάππος ἤδη είς ἄκρον τὸ ὄρος ἥκει καὶ τὸν λύκον ὁρᾷ καὶ
    βοᾷ, "ἐλθὲ δεῦρο, Φίλιππε· μὴ δίωκε ἀλλ' ἐπάνελθε." νῦν δὲ ὁ
    Ἄργος τὸν λύκον ὀδὰξ λαμβάνει καὶ κατέχει, ὁ δὲ Φίλιππος αὐτὸς
    ἤδη πάρεστι καὶ τὴν μάχαιραν λαμβάνει καὶ τύπτει τὸν λύκον. ὁ δὲ
    ἀσπαίρει καὶ καταπίπτει πρὸς τὴν γῆν.
 </p>
<p @ondblclick="DoubleClick">
    ἐνταῦθα δὴ προσχωρεῖ ὁ πάππος καὶ τὸν λύκον ὁρᾷ ἐπὶ τῇ γῇ
    κείμενον. Θαυμάζει οὖν καί, "εὖ γε, ὦ παῖ," φησίν· "μάλα ἀνδρεῖος εἶ.
    μέγας γάρ ἐστιν ὁ λύκος καὶ ἄγριος. σὺ δέ, ὦ Ἄργε, ἀγαθὸς εἶ κύων·
    εὖ γὰρ τὰ πρόβατα φυλάττεις. νῦν δέ, ὦ Φίλιππε, οἴκαδε σπεῦδε· ἡ
    γὰρ μήτηρ δήπου εθέλει γιγνώσκειν ποῦ εἶ καὶ τί πάσχεις.
</p>
<p @ondblclick="DoubleClick">
     ἐπεὶ δὲ τῇ οἰκίᾳ προσχωροῦσιν, τὴν μητέρα ὁρῶσιν.  ὁ μὲν οὖν
     πάππος σπεύδει πρὸς αὐτὴν καὶ πάντα λέγει. ἡ δέ, "ἆρα τὰ ἀληθῆ
     λέγεις;" φησίν. "εὖ γε, ὦ παῖ· μάλα ἀνδρεῖος εἶ. ἀλλ' ἰδού—προσχωρεῖ
     ἡ Μέλιττα ἀπὸ τῆς κρήνης. ἐλθὲ δεῦρο, ὦ Μέλιττα, καὶ ἄκουε· ὁ γὰρ
     Φίλιππος λύκον ἀπέκτονεν." ὁ μὲν οὖν πάππος πάντα αὖθις λέγει, ἡ
     δὲ μέλιττα μάλα Θαυμάζει καὶ λέγει ὅτι καὶ ὁ Ἄργος καὶ ὁ Φίλιππος
     μάλα ἀνδρεῖοί εἰσι καὶ ἰσχῡροί.
</p>
<p @ondblclick="DoubleClick">
    ἔπειτα δὲ ἡ μήτηρ, "νῦν δὲ ἐλθὲ δεῦρο, ὦ φίλε," φησίν, "καὶ κάθιζε
    μεθ' ἡμῶν ὑπὸ τῷ δένδρῳ· μάλα γὰρ κάμνεις. σὺ δέ, ὦ Μέλιττα
    κάθιζε καὶ σύ. ἀκούετε οὖν· ἐγὼ γὰρ μέλλω καλὸν μῦθον ὑμῖν
    λέγειν.
</p>
<p @ondblclick="DoubleClick">
    ὁ μὲν οὖν πάππος καθεύδει—μάλα γὰρ κάμνει—οἱ δὲ παῖδες
    καθίζουσιν ὑπὸ τῷ δένδρῳ καὶ  ἀκούουσιν· ἐπιθῡμοῦσι γὰρ ἀκούειν
    τὸν μῦθον.
</p>
<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        child.lexis = ((IJSInProcessRuntime)jsRuntime).Invoke<string>("GetSelectedText");
        child.Destructure();        
    }
}
