@page "/6A"
@inject IJSRuntime jsRuntime

<h1>6 Ο ΜΥθΟΣ (α)</h1>
<p @ondblclick="DoubleClick">
    "ὁ Μίνως οἰκεῖ τῇ κρήτῃ· βασιλεὺς δέ ἐστι τῆς νήσου. καὶ ἐν τῇ 
    τοῦ Μίνω οἰκίᾳ ἐστὶν ὁ λαβύρινθος· ἐκεῖ δ' οἰκεῖ ὁ Μῑνώταθρος,
    Θηρίον τι δεινόν, τὸ μὲν ἥμισυ ἄνθρωπος, τὸ δ' ἥμισυ ταῦρος. ὁ δὲ
    Μῑνώταυρος ἐσθίει ἀνθρώπους. ὁ οὖν Μίνως ἀναγκάζει τοὺς
    Ἀθηναίους ἑπτά τε νεᾱνίᾱς πέμπειν καὶ ἑπτὰ παρθένους κατ' ἔτος
    πρὸς τὴν κρήτην καὶ παρέχει αὐτοὺς τῷ Μῑνωταύρῳ ἐσθίειν.
</p>
<p @ondblclick="DoubleClick">
    "ἐν δὲ ταῖς Ἀθήναις βασιλεύει ὁ Αἰγεύς· ἔστι δὲ αὐτῷ παῖς τις
    ὀνόματι Θησεύς. ὁ δὲ ἐπεὶ πρῶτον ἠβᾷ, τοὺς ἐταίρους οἰκτίρει καὶ
    βούλεται βοηθεῖν αὐτοῖς. προσχωρεῖ οὖν τῷ πατρὶ καί, ' ὦ πάππα
    φίλε,' φησίν, 'τοὺς ἐταίρους οἰκτίρω καὶ βούλομαι σῴζειν. πέμπε με
    οὖν μετὰ τῶν ἑταίρων πρὸς τὴν κρήτην.' ὁ δ' Αἰγεὑς μάλα φοβεῖται
    ἀλλ' ὅμως πείθεται αὐτῷ.
 </p>
<p @ondblclick="DoubleClick">
    "ὁ οὖν Θησεὺς εἰς ναῦν εἰσβαίνει μετὰ τῶν ἐταίρων καὶ πλεῖ πρὸς
    τὴν Κρήτην. ἐπεὶ δὲ εἰς τὴν νῆσον ἀφικνοῦνται, ὅ τε βασιλεὺς αὐτὸς
    καὶ ἡ βασίλεια καὶ ἡ Θυγάτηρ αὐτῶν, ὀνόματι Ἀριάδνη, δέχονται
    αὐτοὺς καὶ ἄγουσι πρὸς τὴν Κνωσόν (οὕτω γἁρ τὴν τοῦ Μίνω πόλιν 
    ὀνομάζουσιν) καὶ φυλάττουσιν ἐν τῷ δεσμωτηρίῳ.
</p>
<p @ondblclick="DoubleClick">
    "ἡ δ' Ἀριάδνη, ἐπεὶ πρῶτον ὁρᾷ τὸν Θησέᾱ, ἐρᾷ αὐτοῦ καὶ
    βούλεται σῴζειν. ἐπεὶ οὖν νὺξ γίγνεται, σπεύδει πρὸς τὸ δεσμωτήριον
    καὶ τὸν Θησέᾱ καλεῖ καί, 'σίγᾱ, ὦ Θησεῦ,' φησίν· 'ἐγώ, Ἀριάδνη,
    πάρειμι. ἐρῶ σοῦ καὶ βούλουμαι σῴζειν. ἰδού, παρέχω γάρ σοι τοῦτο
    τὸ ξίφος καὶ τοῦτο τὸ λίνον. μὴ οὖν φοβοῦ ἀλλὰ ἀνδρείως εἴσβαινε
    εἰς τὸν λαβύρινθον καὶ ἀπόκτεινε τὸν Μῑνώταυρον. ἔπειτα δὲ 
    ἔκφευγε μετὰ τῶν ἑταίρων καὶ σπεῦδε πρὸς τὴν ναῦν. ἐγὼ γὰρ ἐν νῷ 
    ἔχω πρὸς τῇ νηῒ μένειν· βούλομαι γὰρ ἀπὸ τῆς Κρήτης ἀποφεύγειν
    καἱ μετὰ σοῦ πρὸς τὰς Ἀθήνᾱς φλεῖν.' οὕτω λέγει καὶ ταχέως
    ἀπέρχεται πρὸς τὴν πόλιν. ὁ δὲ Θησεὺς μάλα μἑν θαυμάζει, δέχεται
    δὲ τὸ ξίφος καὶ μένει τὴν ἡμέρᾱν."
</p>
<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        child.lexis = ((IJSInProcessRuntime)jsRuntime).Invoke<string>("GetSelectedText");
        child.Destructure();        
    }
}
