@page "/6B"
@inject IJSRuntime jsRuntime

<h1>6 Ο ΜΥθΟΣ (β)</h1>
<p @ondblclick="DoubleClick">
    "ἐπεὶ δὲ ἡμέρᾱ γίγνεται, ὁ Μίνως ἔρχεται πρὸς τὸ δεσμωτήριον καὶ
    καλεῖ τόν τε Θησέᾱ καὶ τοὺς ἑταίρους καὶ ἄγει αὐτοὺς πρὸς τὸν
    λαβύρινθον. ἐπεὶ δὲ ἀφικνοῦνται, οἱ δοῦλοι ἀνοίγουσι τὰς πύλᾱς καὶ
    τοὺς Ἀθηναίους εἰσελαύνουσιν. ἔπειτα δὲ τὰς πύλᾱς κλείουσι καὶ
    ἀπέρχονται· οὕτω γὰρ τῷ Μῑνωταύρῳ σῖτον παρέχουσιν εἰς πολλὰς
    ἡμέρᾱς. οἱ μὲν οὖν ἑταῖροι μάλα φοβοῦνται, ὁ δὲ Θησεύς, 'μὴ
    φοβεῖσθε, ὦ φίλοι,' φισίν· 'ἐρὼ γὰρ ὑμᾶς σώσω. ἕπεσθέ μοι οὖν
    ἀνδρείως.' οὕτω λέγει καὶ ἡγεῖται αὐτοῖς τὸν λαβύρινθον.     
</p>
<p @ondblclick="DoubleClick">
    "ὁ μὲν οὖν Θησεὺς ἐν μὲν τῇ ἀριστερᾷ ἔχει τὸ λίνον, ἐν δὲ τῇ δεξιᾷ
    τὸ ξίφος, καὶ προχωρεῖ εἰς τὸν σκότον. οἱ δὲ ἑταῖροι μάλα φοβοῦνται,
    ἀλλ' ὅμως ἕπονται· ἡ γὰρ ἀνάγκη αὐτοὺς ἔχει. μακρὰν οὖν ὁδὸν
    πορεύονται καὶ πολλάκις μὲν τρέπονται, πολλάκις δὲ ψόφους
    δεινοὺς ἀκούουσιν· ὁ γὰρ Μῑνώταυρος διώκει αὐτοὺς ἐν τῷ σκότῳ
    καὶ μάλα δεινῷς βρῡχᾶται. ἐνταῦθα δὴ τὸν τῶν ποδῶν ψόφον
    ἀκούουσι καὶ τὸ τοῦ θηρίου πνεῦμα ὀσφραίνονται, καὶ ἰδού, ἐν τῇ
    ὁδῷ πάρεστιν ὁ Μῑνώταυρος. δεινῶς δὴ βρῦχᾶται καὶ ἐπὶ τὸν Θησέᾱ
    ὁρμᾶται.    
 </p>
<p @ondblclick="DoubleClick">
    "ὁ δὲ Θησεὺς οὐ φοβεῖται, ἀλλὰ μάλα ἀνδρείως μάχεται· τῇ μὲν
    γὰρ ἀριστερᾷ λαμβάνεται τῇς τοῦ θηρίου κεφαλῆς, τῇ δὲ δεξιᾷ τὸ
    στῆθος τύπτει. ὁ δὲ Μῑνώταυρος δεινῶς κλάζει καὶ καταπίπτει πρὸς
    τὴν γῆν. οἱ δὲ ἑταῖροι, ἐπεὶ ὁρῶσι τὸ θηρίον ἐπὶ τῇ γῇ κείμενον,
    χαίρουσι καί, 'ὦ Θησεῦ,' φᾱσίν, 'ὡς ἀνδρεῖος εἶ. ὡς Θαυμάζουμέν σε
    καὶ τῑμῶμεν. ἀλλὰ νῦν γε σῷζε ἡμᾶς ἐκ τοῦ λαβυρίνθου καὶ ἡγοῦ
    ἡμῖν πρὸς τὰς πύλᾱς. μακρὰ γάρ ἐστιν ἡ ὁδὸς καὶ πολὺς ὁ σκότος·
    τὴν δ' ὁδὸν ἀγνοοῦμεν.'    
</p>
<p @ondblclick="DoubleClick">
    "ὁ δὲ Θησεὺς οὑ φοβεῖται, ἀλλὰ τὸ λίνον λαμβάνει ---- οὕτω γὰρ
    τὴν ὁδὸν γιγνώσκει ---- καὶ ἡγεῖται τοῖς ἑταίροις πρὸς τὰς πύλᾱς. ἐπεὶ δ'
    ἀφικνοῦνται, τὸν μόχλον διακόπτουσι καὶ μένουσιν ἐκεῖ· ἔτι γὰρ
    ἡμέρᾱ ἐστίν. ἐπεὶ δὲ νὺξ γίγνεται, ἐξέρχονται ἐκ τοῦ λαμβυρίνθου καὶ
    σπεύδουσι πρὸς τὴν ναῦν. ἐκεῖ δὲ τὴν Ἀριάδνην αὐτὴν ὁρῶσιν· μένει
    γὰρ πρὸς τῇ νηΐ. ταχέως οὖν εἰσβαίνουσι καὶ ἀποπλέουσι πρὸς τὰς
    Ἀθήνᾱς. οὕτως οὖν ὁ Θησεὺς τόν τε Μῑνώταυρον ἀποκτείνει καὶ
    τοὺς ἐταίρους σῴζει εἰς τὰς ἈΘήνᾱς."    
</p>
<p @ondblclick="DoubleClick">
    οὕτω περαίνει τὸν μῦθον ἡ Μυρρίνη, ἡ δὲ Μέλιττα, "καὶ ἡ
    Ἀριάδνη;" φησίν· "ἆρα χαίρει; ἆρα φιλεῖ αὐτὴν ὁ Θησεύς;" ἡ δὲ
    Μυρρίνη, "οὐδαμῶς· οὐ χαίρει ἡ Ἀριάδνη οὐδὲ φιλεῖ αὐτὴν ὁ
    Θησεύς." ἡ δὲ Μέλιττα, "τί οὐ φιλεῖ αὐτὴν ὁ Θησεύς; τί γιγνεται;" ἡ δὲ
    μήτηρ, "ἐκεῖνον τὸν μῦθον οὐκ ἐθέλω σοι λέγειν νῦν γε."    
</p>
<Lexis @ref="child" />

@code {
    Lexis child;
    private void DoubleClick()
    {
        child.lexis = ((IJSInProcessRuntime)jsRuntime).Invoke<string>("GetSelectedText");
        child.Destructure();        
    }
}
