@page "/"

<h1>λέξεις</h1>

Words from Athenaze.
<hr width="30%"/>
Double-click on a Greek work to select and destructure it. 
Or paste a word into Lexis field and press Destructure button.
<Banner />