<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Athenaze</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> <span title="Home">Οἶκος</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="1A">
                <span class="oi oi-list-rich" aria-hidden="true"></span> <span title="Dicaeopolis">1 Ο ΔΙΚΑΙΟΠΟΛΙΣ</span> (α)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="1B">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 1 Ο ΔΙΚΑΙΟΠΟΛΙΣ (β)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="1C">
                <span class="oi oi-list-rich" aria-hidden="true"></span> <span title="The Farm">1 Ο ΚΛΗΡΟΣ</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2A">
                <span class="oi oi-list-rich" aria-hidden="true"></span> <span title="Xanthias">2 Ο ΞΑΝΘΙΑΣ</span> (α)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2B">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 2 Ο ΞΑΝΘΙΑΣ (β)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2C">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 2 <span title="The Slave">Ο ΔΟΥΛΟΣ</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="3A">
                <span class="oi oi-list-rich" aria-hidden="true"></span> <span title="The Plowing">3 Ο ΑΡΟΤΟΣ</span> (α)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="3B">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 3 Ο ΑΡΟΤΟΣ (β)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="3C">
                <span class="oi oi-list-rich" aria-hidden="true"></span> <span title="The Oxen">3 ΟΙ ΒΟΕΣ</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="4A">
                <span class="oi oi-list-rich" aria-hidden="true"></span> <span title="By the Spring">4 ΠΑΡΑ ΤΗΙ ΚΡΗΝΗΙ</span> (α)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="4B">
                <span class="oi oi-list-rich" aria-hidden="true"></span> <span style="">4 ΠΑΡΑ ΤΗΙ ΚΡΗΝΗΙ (β)</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="4C">
                <span class="oi oi-list-rich" aria-hidden="true"></span> <span style="font-size:x-small;" title="The Women Persuade their husbands">4 ΑΙ ΓΥΝΑΙΚΕΣ ΤΟΥΣ ΑΝΔΡΑΣ ΠΕΙΘΟΥΣΙΝ</span>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
